{
  "extends": "ub",
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "script"
  },
  "rules": {
    "init-declarations": [2, "always"],
    "no-console": [2, { "allow": ["info", "warn", "error"] }]
  }
}
